* {
    margin: 0;
    padding: 0;
}

.title {
    background-color: aqua;
    text-align: center;
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item {
    list-style-type: none;
    display: inline;
}

.item a {
    color: #fff;
    background-color: blue;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 25px;
    box-shadow: 2px 2px goldenrod;
}

.item a:hover {
    background-color: gray;
}